/* Стили для страницы с изменением пароля */
.password-change-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.password-change-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.password-change-info {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
    text-align: center;
}

.password-change-form .form-group {
    margin-bottom: 20px;
}

.password-change-form input[type="text"],
.password-change-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.password-change-form .btn-submit {
    width: 100%;
    padding: 12px;
    background-color: #800080; /* Фиолетовый фон */
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.password-change-form .btn-submit:hover {
    background-color: #9b4f9b; /* Более светлый фиолетовый при наведении */
}

/* Стили для ссылки "Вернуться на главную" */
.auth-links {
    text-align: center;
    margin-top: 20px;
}

.auth-links a {
    text-decoration: none;
    color: #800080;
    font-size: 14px;
}

.auth-links a:hover {
    color: #9b4f9b;
}

.password-change-form .btn-secondary {
    width: 100%;
    padding: 12px;
    background-color: #f3f3f3; /* Светлый фон для отличия */
    color: #800080; /* Фиолетовый цвет текста */
    border: 1px solid #ddd; /* Лёгкая обводка */
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: 15px; /* Отступ сверху для улучшения внешнего вида */
}

.password-change-form .btn-secondary:hover {
    background-color: #e1e1e1; /* Более тёмный фон при наведении */
    color: #9b4f9b; /* Светлый фиолетовый при наведении */
}

