{% extends 'users/base.html' %}

{% block title %}Добавление товара{% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'products/create_product.css' %}">
{% endblock %}

{% block main %}
<div class="create-container">
    <h1>Добавление товара</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Блок для отображения ошибок формы -->
        {% if form.non_field_errors %}
        <div class="form-errors">
            <ul>
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <!-- Поле для загрузки изображений -->
        <div class="form-group">
            {{ form.images.label_tag }}
            <div class="file-upload-container">
                {{ form.images }}
            </div>
            {% if form.images.errors %}
            <div class="field-error">
                {{ form.images.errors }}
            </div>
            {% endif %}
        </div>

        <!-- Поле для названия товара -->
        <div class="form-group">
            {{ form.name.label_tag }}
            {{ form.name }}
            {% if form.name.errors %}
            <div class="field-error">
                {{ form.name.errors }}
            </div>
            {% endif %}
        </div>

        <!-- Поле для описания товара -->
        <div class="form-group">
            {{ form.description.label_tag }}
            {{ form.description }}
            {% if form.description.errors %}
            <div class="field-error">
                {{ form.description.errors }}
            </div>
            {% endif %}
        </div>

        <!-- Поле для выбора категории -->
        <div class="form-group">
            {{ form.category.label_tag }}
            {{ form.category }}
            {% if form.category.errors %}
            <div class="field-error">
                {{ form.category.errors }}
            </div>
            {% endif %}
        </div>

        <!-- Поле для цены товара -->
        <div class="form-group">
            {{ form.price.label_tag }}
            {{ form.price }}
            {% if form.price.errors %}
            <div class="field-error">
                {{ form.price.errors }}
            </div>
            {% endif %}
        </div>

        <!-- Кнопка отправки формы -->
        <button type="submit" class="btn-submit">Добавить товар</button>
    </form>
</div>
{% endblock %}

