<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'userscss/base.css' %}">
    {% block style %} {% endblock %}
</head>
<body>
    <header>
        <div class="logo">
            <a href="{% url 'home' %}" style="text-decoration: none; color: inherit;">VovaShop</a>
        </div>
        <div class="search-container">
            <form method="get" action="{% url 'login' %}" class="search-form">
                <input type="text" name="q" placeholder="Поиск товаров..." class="search-input">
                <button type="submit" class="search-button">Поиск</button>
            </form>
        </div>
        <div class="auth-buttons">
            {% if user.is_authenticated %}
                {% if user.avatar %}
                    <img src="data:image/png;base64,{{ user.get_image_base64 }}" alt="Avatar" class="user-avatar">
                {% else %}
                    <p>Аватарка отсутствует.</p>
                {% endif %}
                <p>Вы вошли как {{ user.username }}</p>
                <form method="post" action="{% url 'logout' %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit">Выйти</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">Войти</a>
                <a href="{% url 'registration' %}">Зарегистрироваться</a>
            {% endif %}
        </div>
    </header>
  <div>
    {% block main %} {% endblock %}
  </div>
</body>
</html>
