{% extends 'users/base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'userscss/confirm_password_change.css' %}">
{% endblock %}

{% block main %}
  <div class="password-change-container">
        <h1 class="password-change-title">Изменение пароля</h1>
        <p class="password-change-info">
            Для смены пароля мы отправили вам 6-значный код подтверждения на вашу почту. Введите его ниже для подтверждения.
        </p>

        <form method="post" class="password-change-form">
            {% csrf_token %}
            <div class="form-group">
                {{ form.code.label_tag }}
                {{ form.code }}
            </div>

            <button type="submit" class="btn-submit">Подтвердить код</button>
        </form>

        <form method="post" action="{% url 'resend_code' %}" class="password-change-form">
          {% csrf_token %}
          <button type="submit" class="btn-secondary">Отправить код снова</button>
        </form>

        <div class="auth-links">
            <a href="{% url 'home' %}">Вернуться на главную</a>
        </div>
    </div>
{% endblock %}