{% extends 'users/base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'userscss/registration.css' %}">
{% endblock %}

{% block main %}
  <div class="registration-container">
    <h1>Регистрация</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn-submit">Зарегистрироваться</button>
    </form>
    <div class="auth-links">
        <a href="{% url 'login' %}">Уже есть аккаунт? Войти</a>
    </div>
  </div>
{% endblock %}